/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

@import "tailwindcss";

.liquid-glass {
  border-radius: 20px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(255, 255, 255, 0.11);
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1),
    0 8px 30px rgba(0, 0, 0, 0.25);
}

/* hover and press effects */
.liquid-glass:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    0 12px 40px rgba(0, 0, 0, 0.3);
}

.selected-liquid-glass {
  border-radius: 20px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(255, 255, 255, 0.11);
  background: rgba(48, 130, 253, 0.884);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1),
    0 8px 30px rgba(0, 0, 0, 0.25);
}

/* hover and press effects */
.selected-liquid-glass:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    0 12px 40px rgba(0, 0, 0, 0.3);
}

#main-heading {
  -webkit-text-stroke: 0.2px #ffffff;
  color: #0066ff;
}
